.card{
    &__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px,1fr));
        align-items:stretch;
        grid-gap:30px;
        
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        
        background-color: white;
        -webkit-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
        -moz-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
        box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);

       
    }
    &__footer{
        padding:20px;
        display:flex;
        width:100%;
        height:100px;
        justify-content: space-between;
        align-items: center;
        // 
    }
    &__title{
        font-size:16px;
        padding:20px;
        margin:0px;
        color:black;
        & a{
            text-decoration: none;
            color:inherit;
        }
    }
    &__code{
        padding:0px 20px;
        font-size: 14px;
        color:$secondary-color;
        font-weight: 400;
    }
    &__img{
        width:100%;
        display: block;
        height:300px;
        & img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
}