{% extends 'layouts/app2.html' %}
{% load i18n %}
{% load snp %}
{% load static %}
{% block title %}
    {% trans 'Высший педагогический колледж Shymkent' %}
{% endblock %}
{% block content %}


	<!-- Home -->
	<!-- Slider main container -->
{% if messages %}
                                    <ul class="messages" style="z-index: 10000; position:relative; width:50%;">
                                        {% for message in messages %}
                                        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                                            {{ message }}
                                        </div>
                                        {% endfor %}
                                    </ul>
{% endif %}
<div class="swiper-container mt-3">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
	  <!-- Slides -->
	  <div class="swiper-slide">
		<div class="home">
			<div class="home_background" style="background-image: url({% static 'images/slide1.jpeg' %});"></div>
			<div class="home_content">
				<div class="container">
					<div class="row">
						<div class="col text-center">
							<h1 class="home_title">{% trans 'Онлайн заявка в Высший педагогический <br> колледж Shymkent' %}</h1>
							<div class="home_button trans_200"><a href="{% url 'regdoc' %}">{% trans 'Поступить' %}</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	  </div>

	</div>

	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>

  </div>

  
	
	<!-- Language -->

	<div class="language">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="language_slider_container">
						
						<!-- Language Slider -->

						<div class="owl-carousel owl-theme language_slider">

							<!-- Flag -->
							<div class="owl-item language_item">
								<a href="#">
									<div class="flag"><img src="{% static 'icons/svg/020-trophy.svg' %}" alt=""></div>
									<div class="lang_name">{% trans 'Достижение' %}</div>
								</a>
							</div>

							<!-- Flag -->
							<div class="owl-item language_item">
								<a href="{% static 'pdf/raspisanie.PDF' %}">
									<div class="flag"><img src="{% static 'icons/svg/024-schedule.svg' %}" alt=""></div>
									<div class="lang_name">{% trans 'Расписание' %}</div>
								</a>
							</div>

							<!-- Flag -->
							<div class="owl-item language_item">
								<a href="#">
									<div class="flag"><img src="{% static 'icons/svg/050-physics.svg' %}" alt=""></div>
									<div class="lang_name">{% trans 'Наука и Исследования' %}</div>
								</a>
							</div>

							<!-- Flag -->
							<div class="owl-item language_item">
								<a href="{% url 'empapp:indexT' %}">
									<div class="flag"><img src="{% static 'icons/svg/038-student card.svg' %}" alt=""></div>
									<div class="lang_name">{% trans 'Преподаватели' %}</div>
								</a>
							</div>


						</div>

						<div class="lang_nav lang_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
						<div class="lang_nav lang_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Новости -->
	<div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">{% trans 'Последние новости' %}</h2>
				</div>
			</div>
			<div class="row events_row">

				{% for new in news %}
				<!-- Event -->
				<div class="col-lg-4 event_col">
					<div class="event">
						<div class="event_image"><img src='{{ new.poster.url }}' alt=""></div>
						<div class="event_date d-flex flex-column align-items-center justify-content-center">
							<div class="event_day">{{ new.created_at|date:"D" }}</div>
							<div class="event_month">{{ new.created_at|date:"M" }}</div>
						</div>
						<div class="event_body d-flex flex-row align-items-center justify-content-start">
							<div class="event_title"><a href="{{new.get_absolute_url}}">{{ new.title }}</a></div>
							<a href="{{new.get_absolute_url}}" class="event_tag ml-auto">{% trans 'Посмотреть' %}</a>
						</div>
					</div>
				</div>
				{% endfor %}



			</div>
		</div>
	</div>

	<!-- Наши руководители -->

	<div class="instructors">
		<div class="instructors_background" style="background-image:url(images/instructors_background.png)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">{% trans 'Наши руководители' %}</h2>
				</div>
			</div>
			<div class="row instructors_row">

				{% for imp in imps %}
				<!-- Instructor -->
				<div class="col-lg-4 instructor_col">
					<div class="instructor text-center">
						{% if imp.photo %}
						<div class="instructor_image_container">
							<div class="instructor_image"><img src="{{imp.photo.url}}" alt=""></div>
						</div>
						{% endif %}
						<div class="instructor_name"><a href="{% url 'empapp:gDetailView' imp.id %}">{{imp.name}}</a></div>
						<div class="instructor_title">{{imp.position}}</div>
						<div class="instructor_text">
							<p>{{imp.desctiption}}</p>
						</div>
						<div class="instructor_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- СПЕЦИАЛЬНОСТИ -->

	<div class="courses">
		<div class="courses_background"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">{% trans 'СПЕЦИАЛЬНОСТИ' %}</h2>
				</div>
			</div>
			<div class="row courses_row">
                {% for specialization in specializations %}
				<!-- Course -->
				<div class="col-lg-4 course_col">
					<div class="course">
						{% if specialization.photo %}
						<div class="course_image"><img src="{{specialization.photo.url}}" alt=""></div>
						{% endif %}
						<div class="course_body">
							<div class="course_title"><a href="{% url 'specapp:detail' specialization.id  %}">{{specialization.name}}</a></div>
							<div class="course_info">
								<ul>
									<li><a href="">{{specialization.uid}}</a></li>
									<li><a href="#">{% trans 'Шифр' %}</a></li>
								</ul>
							</div>
							<div class="course_text">
								<p>{{specialization.desctiption}}</p>
							</div>
						</div>
						<div class="course_footer d-flex flex-row align-items-center justify-content-start">
							<!-- <div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
							<div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div> -->
							<div class="course_mark course_free trans_200"><a href="{% url 'specapp:detail' specialization.id  %}">Посмотреть</a></div>
						</div>
					</div>
				</div>

                {% endfor %}

			

			</div>
		</div>
	</div>


	<div class="contact_map">

		<!-- Google Map -->

		<div class="map">
			<div id="google_map" class="google_map">
				<div class="map_container">
					<div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1433.348675923419!2d69.5894485387339!3d42.30630952784277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3aef807b2a906bbe!2z0JLRi9GB0YjQuNC5INCf0LXQtNCw0LPQvtCz0LjRh9C10YHQutC40Lkg0JrQvtC70LvQtdC00LYgU2h5bWtlbnQ!5e0!3m2!1sru!2skz!4v1615540888838!5m2!1sru!2skz" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
				</div>
			</div>
		</div>

	</div>

	<div class="contact">

    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Details -->
            <div class="col-lg-6">
                <div class="contact_details">
                    <div class="contact_details_title">{% trans 'Связь' %}</div>
                    <ul>
                        <li>
                            <svg fill="rgba(0,0,0,0.4)" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                <path d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                            </svg>
                            <span>9;00 AM - 18:00 PM</span>
                        </li>
                        <li>
                            <svg fill="rgba(0,0,0,0.4)" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"/>
                                <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
                            </svg>
                            <span>+7 7252 506136</span>
                        </li>
                        <li>
                            <svg fill="rgba(0,0,0,0.4)" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                                <path d="M0 0h24v24H0z" fill="none"/>
                            </svg>
                            <span>ukpk_shym@mail.ru</span>
                        </li>
                        <li>
                            <svg fill="rgba(0,0,0,0.4)" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                                <path d="M0 0h24v24H0z" fill="none"/>
                            </svg>
                            <span>г.Шымкент, ул. 8 марта, 22</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Form -->
            <div class="col-lg-6">
                <div class="contact_form_container">
                    <div class="form_title">{% trans 'ОСТАВЬТЕ ЗАЯВКУ И МЫ СВЯЖЕМСЯ С ВАМИ' %}</div>
                    <form action="{% url 'sapp:appealRoute' %}" method="POST" id="contact_form" class="contact_form">
						{% csrf_token %}
                        <div class="row contact_row">
                            <div class="col-lg-4 contact_col">
                                <input name="name" type="text" class="form_input" placeholder="Имя" required="required">
                            </div>
                            <div class="col-lg-4 contact_col">
                                <input name="email" type="email" class="form_input" placeholder="Email" required="required">
                            </div>
							<div class="col-lg-4 contact_col">
                                <input name="phone" type="text" class="form_input" placeholder="Телефон" required="required">
                            </div>
                            <div class="col-lg-12">
                                <textarea name="description" class="form_input form_text" placeholder="Сообщение" required="required"></textarea>
                            </div>
                            <div class="col">
                                <button type="submit" class="form_button trans_200">{% trans 'Отправить' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}