{% extends 'layouts/new-layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="main-slider">
    <div class="main-slider__container">
        <div class="swiper-wrapper __query-swiper">
            <div class="swiper-slide">
                <div class="main-slider__item">
                    <video class="main-slider__video" loop autoplay muted >
                        <source src="{% static 'videos/college-preview.mov' %}">
                    </video>
                    <div class="main-slider__content">
                        <h1 class="main-slider__title">{% trans 'Онлайн заявка в Высший педагогический <br> колледж Shymkent' %}</h1>
                        <div class="main-slider__btns">
                            <a class="button" href="{% url 'regdoc' %}">
                       
                                {% trans 'Поступить' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-slider__item">
                    <video class="main-slider__video" loop autoplay muted >
                        <source src="{% static 'videos/college-preview.mov' %}">
                    </video>
                    <div class="main-slider__content">
                        <h1 class="main-slider__title">Каждый день новые воспоминаний</h1>
                        <div class="main-slider__btns">
                            <a class="button" href="{% url 'regdoc' %}">{% trans 'Поступить' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="short-slider">
        <div class="short-slider__container">
            <h2 class="short-slider__main-title">Горячие новости</h2>
            <div class="swiper-wrapper">
                {% for new in news %}
                <div class="swiper-slide">
                    <div class="short-slider__item">
                        <div class="short-slider__img">
                            <img src="{{new.poster.url}}" alt="">
                        </div>
                        <h3 class="short-slider__title">{{new.title}}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
   
</div>
<div class="card __container">
    <h2 class="titlex1">Последние новости</h2>
    <div class="card__container ">
        {% for new in news %}
        <article class="card__item">
            <a href="{{new.get_absolute_url}}" class="card__img">
                <img src="{{new.poster.url}}" alt="">
            </a>
            <h3 class="card__title"><a href="{{new.get_absolute_url}}">{{new.title}}</a> </h3>
            <div class="card__footer">
                <date>{{ new.created_at|date:"d" }} {{new.created_at|date:"M"}} {{new.created_at|date:"Y"}} </date>
                <a class="button" href="{{new.get_absolute_url}}">{% trans 'Посмотреть' %}</a>
            </div>
        </article> 
        {% endfor %}
        
    </div>
</div>
<div class="director ">
    <h2 class="titlex1 __container">Наши руководители</h2> 
    <div class="director__container ">
        {% for imp in imps %}
        <div class="director__item">
            <a href="{{imp.get_absolute_url}}" class="director__img">
                <img src="{{imp.photo.url}}" alt="">
            </a>
            <h2 class="director__name"><a href="{{imp.get_absolute_url}}">{{imp.name}}</a></h2>
            <h3 class="director__position">{{imp.position}}</h3>
        </div>
        {% endfor %}
    </div>
</div>

<div class="card __container specialization">
    <h2 class="titlex1">Специальности</h2>
    <div class="card__container ">
        {% for item in specializations %}
        <article class="card__item">
            <a href="{{item.get_absolute_url}}" class="card__img">
                <img src="{{item.photo.url}}" alt="">
            </a>
            <h3 class="card__title"><a href="{{item.get_absolute_url}}">{{item.name}}</a> </h3>
            <h3 class="card__code">Шифр: {{item.uid}}</h3>
            <div class="card__footer">
                <date></date>
                <a class="button" href="{{item.get_absolute_url}}">{% trans 'Посмотреть' %}</a>
            </div>
        </article> 
        {% endfor %}
        
    </div>
</div>

<div class="contact">
    <div class="contact__map">
        <div id="google_map" class="google_map">
            <div class="map_container">
                <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1433.348675923419!2d69.5894485387339!3d42.30630952784277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3aef807b2a906bbe!2z0JLRi9GB0YjQuNC5INCf0LXQtNCw0LPQvtCz0LjRh9C10YHQutC40Lkg0JrQvtC70LvQtdC00LYgU2h5bWtlbnQ!5e0!3m2!1sru!2skz!4v1615540888838!5m2!1sru!2skz" width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
            </div>
        </div>
    </div>
    <form class="form">
        <h2 class="form__title mb-2">ОСТАВЬТЕ ЗАЯВКУ И МЫ СВЯЖЕМСЯ С ВАМИ</h2>
        <div class="form__group mb-2">
            <input class="form__input" type="text" placeholder="Имя">
            <input class="form__input" type="text" placeholder="Email">
            <input class="form__input" type="text" placeholder="Телефон">
        </div>
        <div class="form__group mb-2">
            <textarea class="form__input form__textarea" name=""placeholder="Сообщение"></textarea>
        </div>
        <a class="button button--block" href="">Отправить</a>
    </form>
</div>
{% endblock %}