{% extends 'layouts/app2.html' %}
      {% load i18n %}
{% load static %}
{% block title %}
    Структура
{% endblock %}
{% block content %}

<div class="container" style="margin-top:150px">
    <div class="row">
        <div class="col-3 titlestruc">{% trans 'Профиль' %}</div>
        <div class="col-3 titlestruc">{% trans 'ПодПрофиль' %}</div>
        <div class="col-3 titlestruc">{% trans 'Специализация' %}</div>
        <div class="col-3 titlestruc">{% trans 'Квалификация' %}</div>
    </div>
    <div class="gridlayout">
        <ul class="gridlayout__items border">
            {% for section in sections %}
            <li class="section" data-id="{{section.id}}"> {{section.uid}} {{section.name}}</li>
            {% endfor %}
        </ul>
        <ul class="gridlayout__items border" id="subsection" >
            {% trans 'Пожалуйста выберите профиль' %}
        </ul>
        <div id="specializationid" class="gridlayout__items border">{% trans 'Пожалуйста выберите подпрофиль' %}</div>
        <div id="quaid" class="gridlayout__items border">{% trans 'Пожалуйста выберите специялизацию' %}</div>
    </div>
</div>
 

{% endblock  %}