{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!--=====================================-->
<!--=       Hero Banner Area Start      =-->
<!--=====================================-->
<div class="hero-banner hero-style-3 bg-image">
    <div class="swiper university-activator">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img data-transform-origin='center center'
                     data-src="{% static 'images/slider-1920-1.png' %}" class="swiper-lazy" alt="image">
                <div class="thumbnail-bg-content">
                    <div class="container edublink-animated-shape">
                        <div class="row">
                            <div class="col-7">
                                <div class="banner-content">
                                    <span class="subtitle" data-sal="slide-up" data-sal-duration="1000">{% trans 'Добро пожаловать' %}</span>
                                    <h1 class="title" data-sal-delay="100" data-sal="slide-up" data-sal-duration="1000">
                                        Shym college</h1>
                                    <p data-sal-delay="200" data-sal="slide-up" data-sal-duration="1000">{% trans 'в Высший педагогический колледж Shymkent — мир без горизонтов, мир новых идей и возможностей' %}</p>
                                    <div class="banner-btn" data-sal-delay="400" data-sal="slide-up"
                                         data-sal-duration="1000">
                                        <a href="#" class="edu-btn btn-secondary">Подробнее <i class="icon-4"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img data-transform-origin='center center'
                     data-src="{% static 'images/slider-1920-2.png' %}" class="swiper-lazy" alt="image">
                <div class="thumbnail-bg-content">
                    <div class="container edublink-animated-shape">
                        <div class="row">
                            <div class="col-7">
                                <div class="banner-content">
                                    <span class="subtitle" data-sal="slide-up" data-sal-duration="1000">{% trans 'Каждый день' %}</span>
                                    <h1 class="title" data-sal-delay="100" data-sal="slide-up" data-sal-duration="1000">
                                        Shym college</h1>
                                    <p data-sal-delay="200" data-sal="slide-up" data-sal-duration="1000">{% trans 'Новые воспоминаний' %}</p>
                                    <div class="banner-btn" data-sal-delay="400" data-sal="slide-up"
                                         data-sal-duration="1000">
                                        <a href="#" class="edu-btn btn-secondary">Подробнее <i class="icon-4"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="hero-slider-bg-controls">
            <div class="swiper-slide-controls slide-prev">
                <i class="icon-west"></i>
            </div>
            <div class="swiper-slide-controls slide-next">
                <i class="icon-east"></i>
            </div>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1 scene" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
            <img data-depth="2" src="{% static 'app/assets/images/others/shape-10.png' %}" alt="Shape">
        </li>
        <li class="shape-2 scene" data-sal-delay="1000" data-sal="fade" data-sal-duration="1000">
            <img data-depth="-3" src="{% static 'app/assets/images/others/shape-11.png' %}" alt="Shape">
        </li>
        <li class="shape-3" style="display: none">
            <img src="{% static 'app/assets/images/others/shape-25.png' %}" alt="Shape">
        </li>
    </ul>
</div>
<!--=====================================-->
<!--=       Features Area Start      	=-->
<!--=====================================-->
<!-- Start Categories Area  -->
<div class="features-area-3">
    <div class="container">
        <div class="features-grid-wrap">
            <div class="features-box features-style-3 color-primary-style edublink-svg-animate">
                <div class="icon">
                    <img class="svgInject"
                         src="{% static 'app/assets/images/animated-svg-icons/scholarship-facility.svg' %}"
                         alt="animated icon">
                    <!-- <i class="icon-34"></i> -->
                </div>
                <div class="content">
                    <h4 class="title">Миссия</h4>
                    <p> Воспитание всесторонне гармонично развитой личности на основе общечеловеческих и национальных ценностей.</p>
                </div>
            </div>
            <div class="features-box features-style-3 color-secondary-style edublink-svg-animate">
                <div class="icon">
                    <img class="svgInject"
                         src="{% static 'app/assets/images/animated-svg-icons/skilled-lecturers.svg' %}"
                         alt="animated icon">
                </div>
                <div class="content">
                    <h4 class="title">Политика</h4>
                    <p>формирование научно-интеллектуальной и информационно-культурной среды конкурентоспособных специалистов с инновационными  мировозрениями. </p>
                </div>
            </div>
            <div class="features-box features-style-3 color-extra02-style edublink-svg-animate">
                <div class="icon">
                    <img class="svgInject" src="{% static 'app/assets/images/animated-svg-icons/book-library.svg' %}"
                         alt="animated icon">
                    <!-- <i class="icon-36"></i> -->
                </div>
                <div class="content">
                    <h4 class="title">ИСТОРИЯ</h4>
                    <p>Основателем и первым президентом учреждения «Высший Педагогический колледж «Shynkent» является – Юнусов Бахтияр Саидович (1954-2010 г.г.) – профессор</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories Area  -->
<!--=====================================-->
<!--=       About Area Start      		=-->
<!--=====================================-->
<div class="edu-about-area about-style-3">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
                <div class="about-content">
                    <div class="section-title section-left">
                        <span class="pre-title">О колледже</span>
                        <h2 class="title">Мы предлагает лучшие <span class="color-primary">Возможности</span> для тебя
                        </h2>
                        <span class="shape-line"><i class="icon-19"></i></span>
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#about-edu"
                                    type="button" role="tab" aria-selected="true">КІРІСПЕ
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#about-mission" type="button"
                                    role="tab" aria-selected="false">Миссия
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#about-vision" type="button"
                                    role="tab" aria-selected="false">Видение
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="about-edu" role="tabpanel">
                            <p>Қазақстан Республикасының Оңтүстік өңіріндегі педагогикалық  орта буын мамандар дайындайтын танымалы оқу орнының бірі – «Shymkent  jogary pedagogikalyg kolledji» . Еңбек нарығындағы түрлі салалар бойынша туындаған мамандарға қажеттілікті, сұранысты өтеу арқылы «Shymkent  jogary pedagogikalyg kolledji» қоғамдағы өзіндік дәрежесін, заманауилығын, маман даярлауда бәсекегеқабілеттілігін дәлелдеген білім ордасы.
	 Колледждің  іргетасы 1992 жылы Қазақстан Республикасы Білім және ғылым министрлігі бұйрығымен Қожа Ахмет Яссауи атындағы  педагогикалық колледжі деп ашылды.1995 жылдарда бұл мекеме  негізінде Шығыстану институты ашылды.
2004 жылы педагогикалық колледж «Оңтүстік Қазақстан  педагогикалық университетінің колледжі» болып  арнайы лицензиямен қайта ұйымдастырылды.</p>
                        </div>
                        <div class="tab-pane fade" id="about-mission" role="tabpanel">
                            <p> Воспитание всесторонне гармонично развитой личности на основе общечеловеческих и национальных ценностей. Вносить свой вклад в модернизацию системы профессионального обучения на основе трехъязычной и модульной компетенции. Всестороннее использование инновационных технологий в учебном и воспитательном процессе колледжа.</p>

                        </div>
                        <div class="tab-pane fade" id="about-vision" role="tabpanel">
                            <p> Бәсекегі қабілетті, жаңа көзқарасты болашақ мамандардың ғылыми- интеллектуалды және ақпаратты -мәдени ортасын қалыптастыру.
Колледждің стратегиялық жолы білім беру қызметтерінің сапалық және сандық көрсеткіштерін жақсартуға, оқытушылардың ғылыми және педагогикалық біліктілігін арттыру жүйесін дамытуға, білім алушылардың қажеттіліктерін ресурстық қамтамасыз етуге және қызметкерлер жұмысы мен студенттердің білім алуы үшін қолайлы жағдай жасауға бағытталған. Заманауи үлгідегі кәсіби білім беру – 2020-2025 жылдарға арналған мемлекеттік бағдарламасын жүзеге асырудың өзекті 2 ауқымды жаңару бағытына тоқталсақ, олар «Экономиканың индустриалдық-инновациялық өсуімен және әлемдік кеңестіктегі интеграциялаумен сәйкес келуі» болып табылады. Осындай міндеттерді шешуге бағытталған тиімді басқарудың жаңару бағытының да мақсаты айқындалған.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800"
                         src="{% static 'images/image1.png' %}" alt="About Image">
                    <img class="main-img-2" data-sal-delay="100" data-sal="slide-left" data-sal-duration="800"
                         src="{% static 'images/image2.png' %}" alt="About Image">
                    <ul class="shape-group">
                        <li class="shape-1 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                            <img data-depth="2" src="{% static 'app/assets/images/about/shape-13.png' %}" alt="Shape">
                        </li>
                        <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                            <img data-depth="-2" src="{% static 'app/assets/images/about/shape-39.png' %}" alt="Shape">
                        </li>
                        <li class="shape-3 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                            <img data-depth="2" src="{% static 'app/assets/images/about/shape-07.png' %}" alt="Shape">
                        </li>
                        <li class="shape-4" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                            <span></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-5">
            <img class="rotateit" src="{% static 'app/assets/images/about/shape-13.png' %}" alt="Shape">
        </li>
        <li class="shape-6">
            <span></span>
        </li>
    </ul>
</div>
<!--=====================================-->
<!--=       CounterUp Area Start      	=-->
<!--=====================================-->
<div class="counterup-area-1 gap-lg-bottom-equal">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3 col-sm-6" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-counterup counterup-style-1">
                    <h2 class="counter-item count-number primary-color">
                        <span class="odometer" data-odometer-final="2"></span>
                    </h2>
                    <h6 class="title">КАНДИДАТА НАУК</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-counterup counterup-style-1">
                    <h2 class="counter-item count-number secondary-color">
                        <span class="odometer" data-odometer-final="15"></span>
                    </h2>
                    <h6 class="title">ПРЕПОДАВАТЕЛЕЙ ВЫСШЕЙ КАТЕГОРИИ</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-counterup counterup-style-1">
                    <h2 class="counter-item count-number extra02-color">
                        <span class="odometer" data-odometer-final="20"></span>
                    </h2>
                    <h6 class="title">МАГИСТРОВ</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-counterup counterup-style-1">
                    <h2 class="counter-item count-number extra05-color">
                        <span class="odometer" data-odometer-final="17"></span>
                    </h2>
                    <h6 class="title">ОТЛИЧНИКОВ ОБРАЗОВАНИЯ</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====================================-->
<!--=       Course Area Start      		=-->
<!--=====================================-->
<!-- Start Course Area  -->
<div class="edu-course-area course-area-3 section-gap-large bg-lighten04">
    <div class="container">
        <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
            <span class="pre-title">Наши специальности</span>
            <h2 class="title">По категориям</h2>
            <span class="shape-line"><i class="icon-19"></i></span>
        </div>
        <div class="isotope-wrapper">
            <div class="isotop-button isotop-filter">

                <button data-filter=".special">
                    <span class="filter-text">Специальности</span>
                </button>

            </div>
            <div class="row g-5 isotope-list">
                {% for obj in specializations %}
                <!-- Start Single Course  -->
                <div class="col-md-6 col-lg-4 isotope-item special">
                    <div class="edu-course course-style-3" data-sal-delay="100" data-sal="slide-up"
                         data-sal-duration="800">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="#">
                                    <img style="
                                            width: 370px;
                                            height: 250px;
                                        " src="{{obj.photo.url}}" alt="{{obj.name}}">
                                </a>
<!--                                <div class="time-top">-->
<!--                                    <span class="duration"><i class="icon-61"></i>Online + Onsite</span>-->
<!--                                </div>-->
                            </div>
                            <div class="content">
                                <span class="course-level">{{obj.uid}}</span>
                                <h5 class="title">
                                    <a href="#">{{obj.name}}</a>
                                </h5>

                                <div class="read-more-btn">
                                    <a class="edu-btn btn-small btn-secondary" href="#">Подробнее <i
                                            class="icon-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Course  -->
                {% endfor %}
            </div>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <img class="d-block-shape-light" data-depth="2"
                 src="{% static 'app/assets/images/others/map-shape-3.png' %}" alt="Shape">
            <img class="d-none-shape-dark" data-depth="2" src="{% static 'app/assets/images/others/3-Home-1.png' %}"
                 alt="Shape">
        </li>
        <li class="shape-2">
            <img class="d-block-shape-light" data-depth="2"
                 src="{% static 'app/assets/images/others/map-shape-3.png' %}" alt="Shape">
            <img class="d-none-shape-dark" data-depth="2"
                 src="{% static 'app/assets/images/others/dark-map-shape-3.png' %}" alt="Shape">
        </li>
    </ul>
</div>
<!-- End Course Area -->
<!--=====================================-->
<!--=       	Campus Area Start      =-->
<!--=====================================-->
<!-- Start Campus Area  -->
<div class="edu-campus-area gap-lg-top-equal">
    <div class="container edublink-animated-shape">
        <div class="row g-5">
            <div class="col-xl-7" data-sal-delay="50" data-sal="slide-right" data-sal-duration="800">
                <div class="campus-image-gallery">
                    <div class="campus-thumbnail">
                        <div class="thumbnail">
                            <img src="{% static 'images/image3.jpeg' %}" alt="Campus">
                        </div>
                    </div>
                    <ul class="shape-group">
                        <li class="shape-1 scene">
                            <span data-depth=".8"></span>
                        </li>
                        <li class="shape-2 scene">
                            <img data-depth="1.5" src="{% static 'app/assets/images/about/shape-21.png' %}" alt="Shape">
                        </li>
                        <li class="shape-3 scene">
                            <img data-depth="-1.5" src="{% static 'app/assets/images/about/shape-13.png' %}"
                                 alt="Shape">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-5" data-sal-delay="50" data-sal="slide-left" data-sal-duration="800">
                <div class="campus-content">
                    <div class="inner">
                        <div class="section-title section-left">
                            <span class="pre-title">Кампус</span>
                            <h2 class="title">Жизнь в колледже</h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                        </div>
                        <div class="features-list">
                            <div class="features-box color-secondary-style">
                                <div class="icon">
                                    <i class="icon-37 watch-icon"></i>
                                </div>
                                <div class="content">
                                    <h5 class="title">Студентическая жизнь</h5>
<!--                                    <p>Nostrud exer ciation laboris nis aliqup comodo perspiatix omnis iste natus.</p>-->
                                </div>
                            </div>
                            <div class="features-box color-primary-style">
                                <div class="icon">
                                    <i class="icon-38 art-board-icon"></i>
                                </div>
                                <div class="content">
                                    <h5 class="title">Искусство и клубы</h5>
<!--                                    <p>Omnis iste natus error sit voluptatem accusan tium doloreque laudantum.</p>-->
                                </div>
                            </div>
                            <div class="features-box color-extra05-style">
                                <div class="icon">
                                    <i class="icon-39 fitness-icon"></i>
                                </div>
                                <div class="content">
                                    <h5 class="title">Спорт и развлечения Фитнес</h5>
<!--                                    <p>Tempor incididunt ut labore et dolore magna aliqua enim minim veniam quis.</p>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="shape-group">
                        <li class="shape-4 scene">
                            <span data-depth=".8"></span>
                        </li>
                        <li class="shape-5 scene">
                            <span data-depth="2"></span>
                        </li>
                        <li class="shape-6 scene">
                            <img data-depth="-2" src="{% static 'app/assets/images/about/shape-25.png' %}" alt="Shape">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Campus Area  -->


<!--=====================================-->
<!--=       Testimonial Area Start      =-->
<!--=====================================-->
<!-- Start Testimonial Area  -->
<!--<div class="testimonial-area-2 section-gap-large">-->
<!--    <div class="container edublink-animated-shape">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-lg-6">-->
<!--                <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up"-->
<!--                     data-sal-duration="800">-->
<!--                    <span class="pre-title">Testimonials</span>-->
<!--                    <h2 class="title">What Our Students <br> Have To Say</h2>-->
<!--                    <span class="shape-line"><i class="icon-19"></i></span>-->
<!--                    <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod tempor incidid unt labore dolore-->
<!--                        magna aliquaenim minim.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="testimonial-activation swiper">-->
<!--            <div class="swiper-wrapper">-->
<!--                <div class="swiper-slide">-->
<!--                    <div class="testimonial-slide">-->
<!--                        <div class="content">-->
<!--                            <div class="logo"><img src="{% static 'app/assets/images/testimonial/logo-01.png' %}"-->
<!--                                                   alt="Logo"></div>-->
<!--                            <p>Lorem ipsum dolor amet consectur elit adicing elit sed do umod tempor ux incididunt enim-->
<!--                                ad minim veniam quis nosrud citation laboris nisiste aliquip comodo perspiatix.</p>-->
<!--                            <div class="rating-icon">-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="author-info">-->
<!--                            <div class="thumb">-->
<!--                                <img src="{% static 'app/assets/images/testimonial/testimonial-01.png' %}"-->
<!--                                     alt="Testimonial">-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <h5 class="title">Ray Sanchez</h5>-->
<!--                                <span class="subtitle">Student</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="swiper-slide">-->
<!--                    <div class="testimonial-slide">-->
<!--                        <div class="content">-->
<!--                            <div class="logo"><img src="{% static 'app/assets/images/testimonial/logo-02.png' %}"-->
<!--                                                   alt="Logo"></div>-->
<!--                            <p>Lorem ipsum dolor amet consectur elit adicing elit sed do umod tempor ux incididunt enim-->
<!--                                ad minim veniam quis nosrud citation laboris nisiste aliquip comodo perspiatix.</p>-->
<!--                            <div class="rating-icon">-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="author-info">-->
<!--                            <div class="thumb">-->
<!--                                <img src="{% static 'app/assets/images/testimonial/testimonial-02.png' %}"-->
<!--                                     alt="Testimonial">-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <h5 class="title">Thomas Lopez</h5>-->
<!--                                <span class="subtitle">Designer</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="swiper-slide">-->
<!--                    <div class="testimonial-slide">-->
<!--                        <div class="content">-->
<!--                            <div class="logo"><img src="{% static 'app/assets/images/testimonial/logo-03.png' %}"-->
<!--                                                   alt="Logo"></div>-->
<!--                            <p>Lorem ipsum dolor amet consectur elit adicing elit sed do umod tempor ux incididunt enim-->
<!--                                ad minim veniam quis nosrud citation laboris nisiste aliquip comodo perspiatix.</p>-->
<!--                            <div class="rating-icon">-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="author-info">-->
<!--                            <div class="thumb">-->
<!--                                <img src="{% static 'app/assets/images/testimonial/testimonial-03.png' %}"-->
<!--                                     alt="Testimonial">-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <h5 class="title">Amber Page</h5>-->
<!--                                <span class="subtitle">Developer</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="swiper-slide">-->
<!--                    <div class="testimonial-slide">-->
<!--                        <div class="content">-->
<!--                            <div class="logo"><img src="{% static 'app/assets/images/testimonial/logo-02.png' %}"-->
<!--                                                   alt="Logo"></div>-->
<!--                            <p>Lorem ipsum dolor amet consectur elit adicing elit sed do umod tempor ux incididunt enim-->
<!--                                ad minim veniam quis nosrud citation laboris nisiste aliquip comodo perspiatix.</p>-->
<!--                            <div class="rating-icon">-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                                <i class="icon-23"></i>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="author-info">-->
<!--                            <div class="thumb">-->
<!--                                <img src="{% static 'app/assets/images/testimonial/testimonial-04.png' %}"-->
<!--                                     alt="Testimonial">-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <h5 class="title">Robert Tapp</h5>-->
<!--                                <span class="subtitle">Content Creator</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="swiper-pagination"></div>-->
<!--        <ul class="shape-group">-->
<!--            <li class="shape-1 scene" data-sal-delay="200" data-sal="fade" data-sal-duration="1000">-->
<!--                <img data-depth="1.4" src="{% static 'app/assets/images/about/shape-30.png' %}" alt="Shape">-->
<!--            </li>-->
<!--            <li class="shape-2 scene" data-sal-delay="200" data-sal="fade" data-sal-duration="1000">-->
<!--                <img data-depth="-1.4" src="{% static 'app/assets/images/about/shape-25.png' %}" alt="Shape">-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <ul class="shape-group">-->
<!--        <li class="shape-3" data-sal-delay="200" data-sal="fade" data-sal-duration="1000">-->
<!--            <img class="d-block-shape-light" data-depth="2"-->
<!--                 src="{% static 'app/assets/images/others/map-shape-3.png' %}" alt="Shape">-->
<!--            <img class="d-none-shape-dark" data-depth="2"-->
<!--                 src="{% static 'app/assets/images/others/dark-map-2-shape-3.png' %}" alt="Shape">-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<!-- End Testimonial Area  -->

<!--=====================================-->
<!--=       Video Area Start      		=-->
<!--=====================================-->
<div class="video-area-2  bg-image" style="background: url({% static 'images/image4.jpeg' %})">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="video-banner-content">
                    <div class="video-btn">
                        <a href="https://www.youtube.com/watch?v=QWAh8HhKwEE&feature=youtu.be"
                           class="video-play-btn video-popup-activation">
                            <i class="icon-18"></i>
                        </a>
                    </div>
                    <h2 class="title">Видео от колледжа</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====================================-->
<!--=       	CTA Area Start      	=-->
<!--=====================================-->
<!-- Start CTA Area  -->


<!--<div class="cta-area-2">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-xl-8">-->
<!--                <div class="edu-cta-box cta-style-2 bg-image bg-image&#45;&#45;9">-->
<!--                    <div class="inner">-->
<!--                        <div class="content text-end">-->
<!--                            <span class="subtitle">Get In Touch:</span>-->
<!--                            <h3 class="title"><a href="mailto:info@edublink">info@edublink</a></h3>-->
<!--                        </div>-->
<!--                        <div class="sparator">-->
<!--                            <span>or</span>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <span class="subtitle">Call Us Via:</span>-->
<!--                            <h3 class="title"><a href="tel:+011235641231">+01 123 5641 231</a></h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!-- End CTA Area  -->



<!--=====================================-->
<!--=       Event Area Start      		=-->
<!--=====================================-->
<!-- Start Event Area  -->
<div class="edu-event-area event-area-1 gap-large-text">
    <div class="container edublink-animated-shape">
        <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
            <span class="pre-title">Новости</span>
            <h2 class="title">Популярные обновление</h2>
            <span class="shape-line"><i class="icon-19"></i></span>
        </div>
        <div class="row g-5">

            {% for obj in news %}
            <!-- Start Event Grid  -->
            <div class="col-lg-4 col-md-6" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                <div class="edu-event event-style-1">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="{% url 'newsapp:detail_view' obj.id %}">
                                <img src="{{obj.photo.url}}" alt="{{obj.name}}">
                            </a>
<!--                            <div class="event-time">-->
<!--                                <span><i class="icon-33"></i>08:00AM-10:00PM</span>-->
<!--                            </div>-->
                        </div>
                        <div class="content">
                            <div class="event-date">
                                <span class="day">{{obj.created_at|date:"d"}}</span>
                                <span class="month">{{obj.created_at|date:"M"}}</span>
                            </div>
                            <h5 class="title"><a href="{% url 'newsapp:detail_view' obj.id %}">{{obj.name}}</a></h5>
                            <p>{{obj.short_description}}</p>
<!--                            <ul class="event-meta">-->
<!--                                <li><i class="icon-40"></i>Newyork City, USA</li>-->
<!--                            </ul>-->
                            <div class="read-more-btn">
                                <a class="edu-btn btn-small btn-secondary" href="{% url 'newsapp:detail_view' obj.id %}">Подробнее<i
                                        class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="event-view-all-btn" data-sal-delay="150" data-sal="slide-up" data-sal-duration="1200">
            <h6 class="view-text"><a href="{% url 'newsapp:list_view' %}" class="btn-transparent">Посмотреть все<i class="icon-4"></i></a></h6>
        </div>

        <ul class="shape-group">
            <li class="shape-1" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                <img class="rotateit" src="{% static 'app/assets/images/about/shape-13.png' %}" alt="Shape">
            </li>
            <li class="shape-2 scene" data-sal-delay="500" data-sal="fade" data-sal-duration="200">
                <span data-depth=".9"></span>
            </li>
        </ul>
    </div>
</div>
<!-- End Event Area  -->
<!--=====================================-->
<!--=       Brand Area Start      		=-->
<!--=====================================-->
<!-- Start Brand Area  -->
<div class="edu-brand-area brand-area-4 gap-lg-bottom-equal">
    <div class="container">
        <div class="brand-grid-wrap brand-style-2">
            <div class="brand-grid">
                <img src="{% static 'images/logo1.jpeg' %}" alt="Brand Logo">
            </div>
            <div class="brand-grid">
                <img src="{% static 'images/logo2.jpeg' %}" alt="Brand Logo">
            </div>
            <div class="brand-grid">
                <img src="{% static 'images/logo3.jpeg' %}" alt="Brand Logo">
            </div>
            <div class="brand-grid">
                <img src="{% static 'images/logo1.jpeg' %}" alt="Brand Logo">
            </div>
            <div class="brand-grid">
                <img src="{% static 'images/logo2.jpeg' %}" alt="Brand Logo">
            </div>
            <div class="brand-grid">
                <img src="{% static 'images/logo3.jpeg' %}" alt="Brand Logo">
            </div>
        </div>
    </div>
</div>
<!-- End Brand Area  -->
<!--=====================================-->
<!--=       CTA Banner Area Start      =-->
<!--=====================================-->

{% endblock %}