{% extends 'layouts/app2.html' %}
{% load static %}
  {% load i18n %}

{% block title %}
{% trans 'Абитуриент-2020' %}
{% endblock %}
{% block content %}
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="welcome_title">{% trans 'Абитуриент-2020' %}</div>
            </div>
        </div>
    
     
        <div>
            <div class="blog_content blog_content2">
                <div class="blog_post_title_container">
                    <div class="blog_title">{% trans 'Приемная комиссия работает последующем адресам: ' %}<br>

                        {% trans '1)ул. Токаева,27А' %}<br>
                        {% trans '2)ул. Джангельдина,13' %}<br>
                        {% trans '3)ул. 8 Марта, 22' %}<br>
                    
                    </div>
                </div>
                <div class="blog_text">
                  
                    <a class="styled-link" href="{% static 'pdf/2020-2021-SHZHPK-Erezhesi.pdf' %}">
                        <span><i class="fas fa-book"></i></span>
                        {% trans '2020-2021 ШЖПК Ережесі' %}</a>
                    <img style="width: 100%;" src="{% static 'images/img2020ab.jpg' %}" alt="">
            
                </div>
        </div>
    
    </div>
</div>
{% endblock %}