{% extends 'layouts/app2.html' %}
{% load static %}
  {% load i18n %}
{% block title %}
Кодекс чести
{% endblock %}
{% block content %}
<div class="blog">
    <div class="container">
        <div class="row">
           
        </div>
    
     
        <div>
            <div class="blog_content blog_content2">
                <div class="blog_post_title_container">
                    <div class="blog_title">Кодекс чести<br>
                    
                    </div>
                </div>
                <div class="blog_text">
                  
                    
                    <img style="width: 100%;" src="{% static 'images/kodex1.jpg' %}" alt="">
                    <img style="width: 100%;" src="{% static 'images/kodex2.jpg' %}" alt="">
                    <img style="width: 100%;" src="{% static 'images/kodex3.jpg' %}" alt="">
            
                </div>
        </div>
    
    </div>
</div>
{% endblock %}