{% extends 'layouts/app2.html' %}
{% load static %}
  {% load i18n %}
  {% load snp %}
{% block title %}
Галерея
{% endblock %}
{% block content %}

<div class="container">

<div class="gallery__block mt-15">
    {% for gallery in galleries %}
        <div class="gallery__item">
    {% if gallery.poster %}
        <img class="gallery__img" src="{{ gallery.poster.url }}" alt="{{ gallery.title }}">
    {% else %}
    <iframe width="100%" height="100%" src="{{ gallery.url}}" title="{{ gallery.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}
        </div>
    {% endfor %}

</div>
</div>

{% endblock %}