{% extends 'layouts/app2.html' %}
{% load static %}

{% block content %}
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="welcome_title">Новый формат ЕНТ</div>
            </div>
        </div>
    
     
        <div>
            <div class="blog_content blog_content2">
                <div class="blog_post_title_container">
                    <div class="blog_title">В 2017 году на брифинге МОН РК был объявлен новый формат проведения аттестации выпускников после 11 класса и принципы проведения ЕНТ для поступления в ВУЗ.</div>
                </div>
                <div class="blog_text">
                    <div>
                        


                    <p>Обычный формат ЕНТ будет разделен на 2 этапа:</p>
                    
                    
                    
                    <ul><li>обычные письменные и устные экзамены в школах (является обязательным для получения аттестата о среднем образовании и получения “Алтын белгі”)</li><li>новый формат ЕНТ (не является обязательным, а нужен только для поступления в вузы Казахстана и участия в конкурсе образовательных грантов)</li></ul>
                    
                    
                    
                    <p>Итак более подробно о каждом из этапов:</p>
                    
                    
                    
                    <p><strong>1) Итоговая аттестация в школах</strong></p>
                    
                    
                    
                    <p>Экзамены в школах после 11 класса будут проводить по 5 предметам:</p>
                    
                    
                    
                    <ul><li>Родной язык и литература (письменно в форме эссе);</li><li>Казахский язык в школах с русским, узбекским, уйгурским и таджикским языками обучения. Русский язык в школах с казахским языком обучения (тестирование);</li><li>История Казахстана (устный экзамен);</li><li>Алгебра и начала анализа (письменно);</li><li>Предмет по выбору (физика, химия, биология, география, геометрия, всемирная история, литература, информатика, иностранный язык (английский, французский, немецкий) в форме тестирования.</li></ul>
                    
                    
                    
                    <p>Оценивать письменные и устные экзамены, а также проверять листы ответов тестирования будут в школе экзаменационной комиссией по предмету на основании предоставленных им кодов правильных ответов. Все выпускные экзамены пройдут на базе школы по месту их обучения. Сроки итоговой аттестации будут устанавливаться приказом Министерства «О завершении 2016-2017 учебного года» (до 30 апреля 2017 года). Ориентировочно с 29 мая по 9 июня 2017 года. И до 15 июня 2017 года будут проведены выпускные вечера. Все материалы итоговой аттестации составляются и доставляются Национальным центром тестирования до управлений образования, управлениями образования до школ.</p>
                    
                    
                    
                    <p><strong>2) Новый формат ЕНТ</strong></p>
                    
                    
                    
                    <p>Единое национальное тестирование будет разделено на 2 блока, первый включает в себя вопросы 3-x обязательных предметов по 20 заданий, второй блок состоит из двух профильных предметов по 30 заданий.</p>
                    
                    
                    
                    <p><strong>Первый блок (включает все три предмета):</strong></p>
                    
                    
                    
                    <ul><li>математическая грамотность</li><li>грамотность чтения (проверка умения обобщать, сопоставлять, сравнивать и т. д.)</li><li>история Казахстана</li></ul>
                    
                    
                    
                    <p>Задание по грамотности чтения направлено на проверку следующих умений: умений обобщать, сопоставлять, сравнивать и т.д. Задания на проверку грамотности чтения вводятся на ЕНТ, т.к. во время обучения в вузе абитуриенту необходимо работать с различными источниками, анализировать эти источники, сопоставлять информацию из этих источников и делать выводы. Эти навыки выпускнику пригодятся в последующем обучении в вузе.</p>
                    
                    
                    
                    <p><strong>Второй блок (включает один из пунктов, в зависимости от будущей специальности):</strong></p>
                    
                    
                    
                    <ul><li>математика + физика</li><li>математика + география</li><li>история + география</li><li>биология + химия</li><li>биология + география</li><li>иностранный язык + история</li><li>язык обучения и литература (каз.или рус.язык) + история</li><li>география + иностранный язык</li><li>химия + физика</li><li>история + Человек. Общество. Право.</li><li>творческий экзамен</li></ul>
                    
                    
                    
                    <p>Каждый профильный предмет из выбранного списка, будет содержать по 30 вопросов, из которых 20 будут с с выбором одного правильного ответа из пяти предложенных, и 10 заданий с выбором нескольких правильных ответов из множества предложенных. Это исключит заучивание и гарантирует проверить реальные знания.</p>
                    
                    
                    
                    <p>Итак что мы имеем, всего у нас 120 вопросов, из которых 60 общие (на развитие, грамотность и знание истории), а другие 60 вопросов профилирующие, то есть от этого зависит на какие специальности сможет поступать абитуриент после ЕНТ.</p>
                    
                    
                    
                    <p>Время проведения тестирования составит 3 часа 30 минут. Проходной балл в 50 остается без изменений. Максимальное количество баллов составит 140 (за счет нескольких правильных ответов в заданиях по профильным предметам). Прием заявлений на участие в тестировании будет осуществляться с 10 марта – 10 мая. Сроки проведения ЕНТ будут с 20-го июня по 1 июля. Остается возможность пересдачи на платной основе ЕНТ в августе 2017 года и в январе 2018 года.</p>
                    
                    
                    
                    <p>Обладатели “Алтын белгі”, победители и призеры республиканских, международных олимпиад по общеобразовательным предметам и научных проектов сдают ЕНТ на общих основаниях, при этом если их их результаты будут равными с теми кто не обладает вышеперечисленными наградами, будут преобладать в получении грантов. Победителям и призерам 5 международных олимпиад по общеобразовательным предметам будут выделены специальные гранты.</p>
                                                
							
                    </div>
                   
                    
                
                </div>
               
            
            </div>
        </div>
    
    </div>
</div>
{% endblock %}