{% load static %}
{% load i18n %}
{% load snp %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}
        {% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <nav class="topbar ">
                <div class="topbar__container __container">
                    <div class="topbar__left">
                        <li class="topbar__item topbar__item-phone">{% trans 'Телефон:' %} +7 (702) 890-00-80</li>
                    </div>
                    <div class="topbar__right">
                        <li class="topbar__item topbar__item--language" >
                            <span>{% trans 'Язык:' %}</span>
                            <form action="{% url 'set_language' %}" method="POST" >
                                {% csrf_token %}
                                {% get_current_language as LANGUAGE_CODE %}
                                <select name="language" onChange="this.form.submit()" id="">
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                    {% if LANGUAGE_CODE == language.code %}<option selected="selected"  value="{{ language.code }}">{{ language.code }}</option>
                                    {% else %}<option value="{{ language.code }}">{{ language.code }}</option>{% endif %}
                                    {% endfor %}
                                </select>
                            </form>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="topbar__item"><a class="topbar__link" href="{% url 'sapp:login' %}">{{request.user}}</a></li>
                        <li class="topbar__item"><a class="topbar__link" href="{% url 'sapp:logout' %}">{% trans 'Выйти' %}</a></li>
                        {% else %}
                        <li class="topbar__item"><a class="topbar__link" href="{% url 'sapp:login' %}">{% trans 'Логин' %}</a></li>
                        <li class="topbar__item"><a class="topbar__link" href="{% url 'sapp:register' %}">{% trans 'Регистрация' %}</a></li>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <nav class="navbar">
                <div class="navbar__container __container">
                    <a href="/" class="navbar__logo">
                        <img class="navbar__logo-img" src="{% static 'images/new/dark.png' %}" alt="">
                    </a>
                    <div id="burger-mobile">
                      <li class="1"></li>
                      <li class="2"></li>
                      <li class="3"></li>
                    </div>
                    <ul class="navbar__list">
                        <div class="navbar__top-menu">
                     <div id="burger-mobile-exit">
                      <li class="1"></li>
                      <li class="2"></li>
                    </div>

                        </div>
                        {% for cat in pageCats|order_bys:'order' %}
                            <li class="navbar__item">
                                <div class="navbar__link--row">
                                    <a class="navbar__link" href="{% if cat.linkto != '0' %} {{cat.linkto}} {% endif %}" >{{cat.name}}</a>
                                    {% if cat.page.all|length > 0 %}
                                     <span data-plus="{{cat.name}}" class="navbar__plus">+</span>
                                    {% endif %}
                                </div>
                                {% if cat.page.all %}
                                    <ul class="sub-navbar" data-toggle="{{cat.name}}">
                                        {% for page in cat.page.all|order_bys:'order' %}
                                        {% if page.slug == "1" %}
                                            <li class="sub-navbar__item"><a class="sub-navbar__link" href="{% url page.url %}">{{ page.title }}</a></li>
                                            {% elif page.link %}
                                            <li class="sub-navbar__item"><a class="sub-navbar__link" href="{{page.link}}">{{ page.title }}</a></li>
                                            {% else %}
                                            <li class="sub-navbar__item"><a class="sub-navbar__link" href="{% url page.url page.id %}">{{ page.title }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </nav>
        </div>
        <div class="body">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            <div class="footer__top __container">
                <div class="footer__left">
                    <div class="footer__img">
                        <img src="{% static 'images/new/light.png' %}" alt="">
                    </div>
                    <h3 class="footer__text">
                        {% trans "Основателем и первым президентом учреждения «Высший Педагогический колледж «Shynkent»   является – Юнусов Бахтияр Саидович (1954-2010 г.г.) – профессор, ученый-арабист, член-корреспондент Академии естественных наук РК и Международной Академии наук педагогического образования России" %}
                    </h3>
                </div>
               <div class="footer__right">
                   <div class="footer__title">Контакты</div>
                   <div class="footer__list">
                    <li><a href="#">+7 701 400 1363</a></li>
                    <li><a href="#">+7 7252 506136</a></li>
                    <li><a href="#">ukpk_shym@mail.ru</a></li>
                    <li><a href="#">{% trans 'г.Шымкент, ул. 8 марта, 22' %}</a></li>
                   </div>
               </div>
            </div>

           <div class="footer__bottom">
               <div class="__container">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены </div>
               </div>

           </div>
        </div>
    </div>


    <script src="{% static 'js/new.js' %}">

    </script>
</body>
</html>