{% extends 'layouts/apppage.html' %}

{% load static %}
{% block content %}

    <section class="main">
        <input type="hidden" value="{{csrf_token}}" id="csrf_token">
        <div class="container">
            <div class="main-grid">
                <div class="sidebar">
                    <h2 class="lined-title">Категорий страницы <span class="btn-create"><a href="{% url 'PageCategoryCreateView' %}">Создать новую</a></span></h2>
                    <ul class="sidebar__nav" id="sidebarNav">
                        {% for category in categories %}
                        {% url 'pageListView' category.id as urltolist %}
                        <li class="sidebar__nav-item" data-pk="{{category.id}}"><a class="sidebar__nav-link {% if request.path == urltolist %}active {% endif %}" href="{{urltolist}}">{{category.name}}</a> <a class="sidebar__nav-link" href="{% url 'PageCategoryUpdateView' category.id %}"> Изменить </a></li>
                        {% endfor %}
                       
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}