<div class="col-3 sidebar">
    <ul class="nav flex-column justify-content-center">
        <li class="nav-item">
            <!-- {% url 'examapp:student' as stu %} -->
            <a class="nav-link new-navlink {% if stu == request.path %}active{% endif%}" aria-current="page" href="{{stu}}">Профил</a>
          </li>
        <li class="nav-item">
            <!-- {% url 'examapp:srate' as srate %} -->
          <a class="nav-link new-navlink {% if srate == request.path %}active{% endif%}" aria-current="page" href="{{srate}}">Выполенение задач(Рейтинг)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link new-navlink" href="#">Выполененные задачи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link new-navlink" href="#">Сессия</a>
        </li>
      </ul>
</div>