@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.navbar {
  background: white;
  -webkit-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
}
@media screen and (max-width: 1180px) {
  .navbar {
    padding: 12px 0px;
  }
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  height: 54px;
  text-decoration: none;
}
.navbar__logo-img {
  height: 100%;
}
.navbar__list {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1180px) {
  .navbar__list {
    display: none;
  }
}
.navbar__item {
  position: relative;
  list-style: none;
}
.navbar__item:hover .sub-navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.navbar__link {
  display: block;
  padding: 30px 10px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid white;
}
.navbar__link:hover {
  border-bottom: 2px solid #8f2437;
}

.topbar {
  background: #8f2437;
  font-size: 12px;
  padding: 15px 0px;
}
.topbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.topbar__right {
  display: flex;
  align-items: center;
}
.topbar__item {
  margin-right: 20px;
  list-style: none;
}
.topbar__item:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 385px) {
  .topbar__item-phone {
    display: none;
  }
}
.topbar__item--language {
  align-items: center;
  display: flex;
}
.topbar__item--language select {
  background: #8f2437;
  border: none;
  color: white;
}
.topbar__link {
  color: white;
  text-decoration: none;
}

.sub-navbar {
  position: absolute;
  top: 100%;
  background-color: white;
  list-style: none;
  right: 0%;
  display: none;
  z-index: 11;
  padding: 10px 20px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
}
.sub-navbar__link {
  color: black;
  display: block;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
}
.sub-navbar__link:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.header {
  transition: 0.3s ease;
}

.header--fixed {
  z-index: 100;
  position: fixed;
  top: -47px;
  left: 0;
  width: 100%;
  transition: 0.3s ease;
}

.footer {
  background-color: #252525;
  color: rgba(255, 255, 255, 0.4);
}
.footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 15px !important;
}
.footer__text {
  font-size: 12px;
  font-weight: 400;
}
.footer__bottom {
  background-color: #0f0f0f;
  padding: 20px 20px !important;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer__list a {
  color: rgba(255, 255, 255, 0.4);
  display: block;
  margin: 5px 0px;
  font-size: 12px;
}
.footer__img {
  height: 50px;
}
.footer__img img {
  height: 100%;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  align-items: stretch;
  grid-gap: 30px;
}
.card__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  background-color: white;
  -webkit-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
}
.card__footer {
  padding: 20px;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  font-size: 16px;
  padding: 20px;
  margin: 0px;
  color: black;
}
.card__title a {
  text-decoration: none;
  color: inherit;
}
.card__code {
  padding: 0px 20px;
  font-size: 14px;
  color: #004878;
  font-weight: 400;
}
.card__img {
  width: 100%;
  display: block;
  height: 300px;
}
.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-hover {
  padding: 50px 0px;
}
.card-hover__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  align-items: stretch;
  grid-gap: 30px;
}
.card-hover__item {
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  -webkit-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
}
.card-hover__image {
  width: 100%;
  height: 100%;
}
.card-hover__text-container {
  width: 90%;
  background-color: white;
  position: absolute;
  top: 250px;
  left: 0;
  transition: 0.5s ease;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.card-hover__text-container:hover {
  top: 0px;
  min-height: 400px;
  overflow: scroll;
  transition: 0.4s ease;
}
.card-hover__title {
  color: black;
  margin-top: 12px;
}
.card-hover__title a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.card-hover__visible {
  padding: 15px 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-hover__category {
  text-decoration: none;
  display: block;
  color: rgba(0, 0, 0, 0.4);
}
.card-hover__text {
  padding: 15px 15px;
}
.card-hover__button {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px !important;
}

.one-card {
  margin: 30px 0px;
}
.one-card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
}
.one-card__item {
  padding: 80px 40px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.one-card__item::after {
  content: "";
  background-color: rgba(0, 72, 120, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.one-card__item--active::after {
  background-color: rgba(0, 72, 120, 0.99);
}
.one-card__title {
  display: block;
  text-decoration: none;
  position: relative;
  color: white;
  z-index: 3;
  font-size: 25px;
  text-align: center;
}

.director {
  background: #f8f8f8;
  margin: 50px 0px;
  padding: 70px 0px;
}
.director__container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  align-items: stretch;
  grid-gap: 30px;
}
.director__item {
  padding: 20px;
  display: block;
}
.director__item:hover {
  transition: 0.2s ease;
  background-color: white;
  border-radius: 5px;
}
.director__item:hover .director__img img {
  width: 90%;
  height: 90%;
}
.director__img {
  width: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
}
.director__img img {
  transition: 0.2s ease;
  width: 80%;
  border-radius: 50%;
  height: 80%;
  object-fit: cover;
}
.director__name {
  font-size: 16px;
  color: black;
  text-align: center;
  margin-top: 40px;
  display: block;
}
.director__name a {
  text-decoration: none;
  color: inherit;
}
.director__position {
  margin-top: 20px;
  font-size: 14px;
  color: #004878;
  text-align: center;
}

.form {
  position: absolute;
  top: 50px;
  background-color: white;
  border-radius: 5px;
  right: 100px;
  padding: 40px;
  -webkit-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 7px 13px 1px rgba(34, 60, 80, 0.1);
  max-width: 600px;
}
@media screen and (max-width: 480px) {
  .form__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 780px) {
  .form {
    right: 50%;
    top: -20px;
    transform: translateX(50%);
    width: 95%;
  }
  .form__group {
    display: flex;
    flex-direction: column;
  }
  .form__input {
    margin-top: 20px;
  }
}
.form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
}
.form__input:focus {
  outline: none;
  border-bottom: 2px solid #004878;
}
.form__textarea {
  width: 100%;
  min-height: 100px;
}
.form__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  position: relative;
  display: block;
  padding-bottom: 150px;
  margin-top: 100px;
  background: #f8f8f8;
}
@media screen and (max-width: 480px) {
  .contact {
    padding-bottom: 200px;
  }
}

.main-slider {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-slider__container {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.main-slider__container .swiper-wrapper {
  width: 100vh;
  height: calc(100vh - 127px);
}
.main-slider__item {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-slider__item::after {
  position: absolute;
  content: "";
  top: 0;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 0, 43, 0.6);
}
.main-slider__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.main-slider__content {
  padding: 20px;
  color: white;
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}
.main-slider__title {
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 480px) {
  .main-slider__title {
    font-size: 25px;
  }
}

.main-slider--fixed {
  margin-top: 127px;
}

.short-slider {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 4;
}
.short-slider__container {
  padding: 20px;
  padding-top: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 400px;
  background: white;
  color: black;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.short-slider__main-title {
  padding: 20px;
  margin: 0px;
  background: white;
  position: relative;
  z-index: 10;
}
.short-slider__item {
  display: flex;
  align-items: center;
}
.short-slider__img {
  display: block;
  margin-right: 20px;
}
.short-slider__img img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.short-slider__title {
  font-size: 12px;
}
@media screen and (max-width: 1000px) {
  .short-slider {
    display: none;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background: #004878;
  color: white;
}
.button:hover {
  background: #002945;
}

.button--block {
  text-align: center;
  display: block;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-6 {
  margin-bottom: 60px;
}

.titlex1 {
  text-align: center;
  margin: 30px auto !important;
  display: block;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.body--fixed {
  margin-top: 127px;
}

.__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 20px;
}
@media screen and (max-width: 1000px) {
  .__container {
    padding: 0px 15px;
  }
}
@media screen and (max-width: 750px) {
  .__container {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 480px) {
  .__container {
    padding: 0px 5px;
  }
}

/*# sourceMappingURL=style.css.map */
