{% extends 'layouts/app2.html' %}
{% load static %}
{% load snp %}
    {% load i18n %}
{% block title %}
{% trans 'Наши преподаватели' %}
{% endblock %}
{% block content %}

	<div class="instructors">
		<div class="instructors_background" style="background-image:url({% static 'images/instructors_background.png' %})"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">{% trans 'Наши преподаватели' %}</h2>
				</div>
			</div>
			<div class="row instructors_row">
				
				{% for imp in imps %}
				<!-- Instructor -->
				<div class="col-lg-4 instructor_col">
					<div class="instructor text-center">
						<div class="instructor_image_container">
							<div class="instructor_image"><img src="{{imp.photo.url}}" alt=""></div>
						</div>
						<div class="instructor_name"><a href="{% url 'empapp:tDetailView' imp.id %}">{{imp.name}}</a></div>
						<div class="instructor_title">{{imp.position}}</div>
						<div class="instructor_text">
							<p>{{imp.desctiption}}</p>
						</div>
						<div class="instructor_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
				


			</div>
		</div>
	</div>

{% endblock %}