{% extends 'layouts/new-layout.html' %}
{% load static %}
{% load snp %}
    {% load i18n %}
{% block title %}
{% trans 'Наши преподаватели' %}
{% endblock %}
{% block content %}

<div class="director ">
    <h2 class="titlex1 __container">Наши преподаватели</h2> 
    <div class="director__container ">
        {% for imp in imps %}
        <div class="director__item">
            <a href="{{imp.get_absolute_url}}" class="director__img">
                <img src="{{imp.photo.url}}" alt="">
            </a>
            <h2 class="director__name"><a href="{{imp.get_absolute_url}}">{{imp.name}}</a></h2>
            <h3 class="director__position">{{imp.position}}</h3>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}