{% extends 'layouts/app2.html' %}
{% load static %}
  {% load i18n %}
{% block title %}
{% trans 'Добро пожаловать в наш блог' %}
{% endblock %}
{% block content %}
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="welcome_title">{% trans 'Добро пожаловать в наш блог' %}</div>
            </div>
        </div>
        <div class="row categories_row">
            {% for category in categories %}
            <!-- Category -->
            <div class="col-xl-2 col-lg-4 col-md-6 blog_category_col">
                <a href="">
                    <div class="blog_category">
                        <div class="blog_category_image"><img src="{{category.poster.url}}" alt=""></div>
                        <div class="blog_category_title">{{category.name}}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- Blog Posts -->
        
        <div class="row blog_row">

            {% for new in news %}
            <!-- Blog Post -->
            <div class="col-lg-6">
                <div class="blog_post">
                    <div class="blog_image" style="background-image:url({{new.poster.url}})"></div>
                    <div class="blog_title_container">
                        <div class="blog_post_category"><a href="#">{{new.category.name}}</a></div>
                        <div class="blog_post_title"><a href="{% url 'newsapp:detailView' new.id %}">{{new.title}}</a></div>
                        <div class="blog_post_text">
                            <p>{{new.description}}</p>
                        </div>
                        <div class="read_more"><a href="{% url 'newsapp:detailView' new.id %}">Читать далее<img src="{% static 'images/right.png' %}" alt=""></a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Load More -->
        <!-- <div class="row">
            <div class="col">
                <div class="load_more_button"><a href="#">load more</a></div>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}