{% extends 'layouts/app2.html' %}
{% load static %}
  {% load i18n %}
  {% load snp %}
{% block title %}
{{new.title}}
{% endblock %}
{% block content %}

<!-- Blog Image -->

<div class="blog_top_image">
    <div class="blog_top">
        <div class="blog_background parallax-window" data-parallax="scroll" data-image-src="{{new.poster.url}}" data-speed="0.8"></div>
    </div>
    
</div>

<!-- Blog Content -->

<div class="blog_container">
    <div class="container">
        <div class="row blog_content_row">
            <div class="col">
                <div class="blog_content">
                    <div class="blog_post_title_container">
                        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
                        <div class="blog_category"><a href="#">{{new.category.name}}</a></div>
                        <div class="blog_title">{{new.title}}</div>
                    </div>
                    <div class="blog_text">
                        {{new.description}}
                    </div>
{#                    <div class="blog_tags">#}
{#                        <ul>#}
{#                            <li><a href="#">Manual</a></li>#}
{#                            <li><a href="#">Liberty</a></li>#}
{#                            <li><a href="#">Interpretation</a></li>#}
{#                            <li><a href="#">Recommendations</a></li>#}
{#                        </ul>#}
{#                    </div>#}
                    <div class="blog_post_footer d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                        <div class="blog_post_author d-flex flex-row align-items-center justify-content-start">
                           
                            <div class="author_info">
                                <ul>
                                    <li>{{new.created_at}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog_post_share ml-lg-auto">
                            <span>share</span>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Similar Posts -->



        <div class="row register">
            <div class="col-lg-6 offset-lg-3">
                <div class="register_form_title">{% trans 'Отправка коментарий' %}</div>
                <div class="register_form_container">
                    <form action="" id="register_form" method="POST"  class="register_form">
                        {% csrf_token %}
                        <div class="row register_row">
                            
                            <div class="col-lg-12">
                                {{form}}
                            </div>
                            <div class="col">
                                <button type="submit" class="form_button trans_200">{% trans 'Коментировать новость' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row comments">
            <div class="col-lg-6 offset-lg-3">
                <div class="comments_title">{% trans 'Коментарий' %} <span>{{new.comments.count}}</span></div>
                <div class="comments_container">
                    <ul class="comments_list">
                        {% for comment in new.comments.all %}
                        <li class="comment">
                            <div class="comment_content">
                                <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                    <div class="comment_image"><div><img src="images/blog_author.jpg" alt=""></div></div>
                                    <div class="comment_info">
                                        <div class="comment_name"><a href="#">{{comment.author.username}}</a></div>
                                        <div class="comment_time">{{comment.created_at}}</div>
                                    </div>
                                </div>
                                <div class="comment_text">
                                    <p>{{comment.text}}</p>
                                </div>
                            </div>
                            
                        </li>
                       {% endfor %}
                    </ul>
                </div>
{#                <div class="comments_more">#}
{#                    <div class="comments_more_button"><a href="#">load more</a></div>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>
{% endblock %}