{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'registrationapp/fonts/icomoon/style.css' %}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'registrationapp/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'registrationapp/css/style.css' %}">

    <title>Contact Form #7</title>
    <style>
      .col-form-label{
        color:#35467d;
      }
    </style>
  </head>
  <body>


  <div class="content">

    <div class="container">
      <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-8">
          <div class="form h-100">


            <h3>Колледжге түсуге өтінім нысаны</h3>
            <form action="{% url 'data' %}" class="mb-5" method="POST" id="" name="contactForm" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row">
                   {% if messages %}
                      {% for msg in messages %}
                        <div class="alert alert-info alert-dismissable">
                            <a style="text-decoration: none" href="{% url 'regdoc' %}"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></a>
                          {{msg.message}}
                        </div>
                      {% endfor %}
                  {% endif %}
              </div>
              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label for="id_name" class="col-form-label">Аты:</label>
                  {{ form.name }}
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label for="id_surname" class="col-form-label">Тегі:</label>
                  {{ form.surname }}
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label for="id_otch" class="col-form-label">Әкесінің аты:</label>
                  {{ form.otch }}
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label for="id_phone" class="col-form-label">Телефон</label>
                  {{ form.phone }}
                </div>
                  <div class="col-md-6 form-group mb-5">
                  <label for="id_finish_edu" class="col-form-label"> (мектеп немесе басқа оқу орнының атауы, қай жылы бітіргенін жазу)</label>
                  {{ form.finish_edu }}
                </div>
                  <div class="col-md-6 form-group mb-5">
                  <label for="id_address" class="col-form-label">Тұрғынның адресі:</label>
                  {{ form.address }}
                </div>
                  <div class="col-md-6 form-group mb-5">
                  <label for="id_place" class="col-form-label form-check-label">Жатақхана қажет, қажет емес (сызып көрсетіңіз):</label>
                      {{ form.place }}
                </div>
                  <div class="col-md-6 form-group mb-5">
                  <label for="id_about" class="col-form-label">Өзім жайлы мәлімет: </label>
                      {{ form.about }}
                </div>
                  <div class="col-md-6 form-group mb-5">
                  <label for="id_birthday" class="col-form-label">Туған жылы: </label>
                      {{ form.birthday }}
                </div>
                  <div class="col-md-6 form-group mb-5">
                  <label for="id_born_place" class="col-form-label">Туған  жері: </label>
                      {{ form.born_place }}
                  </div>
                  <div class="col-12 ">
                    <h3>Ата-анасының аты-жөні,  мекен – жайы, атқаратын қызметі, жұмыс орнының атауы байланыс телефондары:</h3>
                  </div>
                  <div class="col-md-6 form-group mb-5">
                      <label for="id_information_parent_mom" class="col-form-label">Шешесі:</label>
                      {{ form.information_parent_mom }}
                  </div>
                  <div class="col-md-6 form-group mb-5">
                      <label for="id_information_parent_dad" class="col-form-label">Әкесі: </label>
                      {{ form.information_parent_dad }}
                  </div>
                  <div class="col-md-6 form-group mb-5">
                      <label for="id_polojenie" class="col-form-label">Әлеуметтік жағдайы:</label>
                      {{ form.polojenie }}
                  </div>
                  <div class="col-md-6 form-group mb-5">
                      <label for="id_gender" class="col-form-label">Жынысы: </label>
                      {{ form.gender }}
                  </div>
                  <div class="col-md-6 form-group mb-5">
                      <label for="id_national" class="col-form-label">Ұлты: </label>
                      {{ form.national }}
                  </div>
                  <div class="col-md-6 form-group mb-5">
                    <label for="id_national" id="id_edu_program" class="col-form-label">Мамандық бойынша: </label>
                    {{form.edu_program}}
                  </div>
                  <div class="col-md-6 form-group mb-5">
                    <label for="id_national" id="id_edu_program" class="col-form-label">Тілі:</label>
                    {{ form.language }}
                  </div>
                
        
              <div class="row ">
                <div class="col-md-6 form-group">
                  <label for="" id="id_card_frontLabel" class="custom-file-label">{{  form.id_card_front.label }}</label>
                  {{ form.id_card_front }}
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label for="" id="id_card_backLabel" class="custom-file-label">{{ form.id_card_back.label }}</label>
                  {{ form.id_card_back }}
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label for="" id="diplomLabel" class="custom-file-label">{{ form.diplom.label }}</label>
                  {{ form.diplom }}
                </div>
                  <div class="col-md-6 form-group mb-5">
                  <label for="" id="zayavkaLabel" class="custom-file-label">{{ form.zayavka.label }}</label>
                  {{ form.zayavka }}
                </div>
              </div>
                <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label for="" id="fluroLabel" class="custom-file-label">{{ form.fluro.label }}</label>
                  {{ form.fluro }}
                </div>
                  <div class="col-md-6 form-group mb-5">
                  <label for="" id="zdorovieLabel" class="custom-file-label">{{ form.zdorovie.label }}</label>
                  {{ form.zdorovie }}
                </div>
                    <div class="col-md-12 form-group mb-5">
                  <label for="" id="34photoSize" class="custom-file-label">{{ form.photo.label }}</label>
                  {{ form.photo }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="submit" value="Отправить" class="btn btn-primary rounded-0 py-2 px-4" style="background-color: #8f2437">
                  <span class="submitting"></span>
                </div>
              </div>
            </form>

            <div id="form-message-warning mt-4"></div>
            <div id="form-message-success">
              Your message was sent, thank you!
            </div>

          </div>
        </div>
      </div>
        <div class="col-md-4">
          <div class="contact-info h-100">
            <h3>Контактная информация</h3>
              <a style="text-decoration: none; color:white" href="/"><p class="mb-5">Высший педагогический колледж Shymkent</p></a>
            <ul class="list-unstyled">
              <li class="d-flex">
                <span class="wrap-icon icon-room mr-3"></span>
                <span class="text">г.Шымкент, ул. 8 марта, 22</span>
              </li>
              <li class="d-flex">
                <span class="wrap-icon icon-phone mr-3"></span>
                <span class="text">+7 7252 506136</span>
              </li>
              <li class="d-flex">
                <span class="wrap-icon icon-envelope mr-3"></span>
                <span class="text">ukpk_shym@mail.ru</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>



      <script>
        const updateValue = (event, id) => {
          console.log(id)
            let elem = document.getElementById(`${id}`);
            console.log(elem)
            elem.innerHTML = event.value
        }
      </script>

  </body>
</html>