@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-school-locker:before { content: "\f100"; }
.flaticon-002-desk:before { content: "\f101"; }
.flaticon-003-drawing:before { content: "\f102"; }
.flaticon-004-telescope:before { content: "\f103"; }
.flaticon-005-laboratory:before { content: "\f104"; }
.flaticon-006-abacus:before { content: "\f105"; }
.flaticon-007-notebook:before { content: "\f106"; }
.flaticon-008-whistle:before { content: "\f107"; }
.flaticon-009-briefcase:before { content: "\f108"; }
.flaticon-010-paperclip:before { content: "\f109"; }
.flaticon-011-table-lamp:before { content: "\f10a"; }
.flaticon-012-chat:before { content: "\f10b"; }
.flaticon-013-biology:before { content: "\f10c"; }
.flaticon-014-magnet:before { content: "\f10d"; }
.flaticon-015-pc:before { content: "\f10e"; }
.flaticon-016-chalk:before { content: "\f10f"; }
.flaticon-017-eraser:before { content: "\f110"; }
.flaticon-018-microscope:before { content: "\f111"; }
.flaticon-019-online-learning:before { content: "\f112"; }
.flaticon-020-trophy:before { content: "\f113"; }
.flaticon-021-alarm:before { content: "\f114"; }
.flaticon-022-clipboard:before { content: "\f115"; }
.flaticon-023-search:before { content: "\f116"; }
.flaticon-024-schedule:before { content: "\f117"; }
.flaticon-025-compass:before { content: "\f118"; }
.flaticon-026-projector:before { content: "\f119"; }
.flaticon-027-graduation-cap:before { content: "\f11a"; }
.flaticon-028-earth-globe:before { content: "\f11b"; }
.flaticon-029-paint-palette:before { content: "\f11c"; }
.flaticon-030-idea:before { content: "\f11d"; }
.flaticon-031-note:before { content: "\f11e"; }
.flaticon-032-teacher-desk:before { content: "\f11f"; }
.flaticon-033-school-bell:before { content: "\f120"; }
.flaticon-034-printer:before { content: "\f121"; }
.flaticon-035-rank:before { content: "\f122"; }
.flaticon-036-presentation:before { content: "\f123"; }
.flaticon-037-medal:before { content: "\f124"; }
.flaticon-038-student-card:before { content: "\f125"; }
.flaticon-039-pencil:before { content: "\f126"; }
.flaticon-040-school-bus:before { content: "\f127"; }
.flaticon-041-test:before { content: "\f128"; }
.flaticon-042-book:before { content: "\f129"; }
.flaticon-043-calculator:before { content: "\f12a"; }
.flaticon-044-school-bag:before { content: "\f12b"; }
.flaticon-045-certificate:before { content: "\f12c"; }
.flaticon-046-blackboard:before { content: "\f12d"; }
.flaticon-047-ruler:before { content: "\f12e"; }
.flaticon-048-school:before { content: "\f12f"; }
.flaticon-049-american-football:before { content: "\f130"; }
.flaticon-050-physics:before { content: "\f131"; }

$font-Flaticon-001-school-locker: "\f100";
$font-Flaticon-002-desk: "\f101";
$font-Flaticon-003-drawing: "\f102";
$font-Flaticon-004-telescope: "\f103";
$font-Flaticon-005-laboratory: "\f104";
$font-Flaticon-006-abacus: "\f105";
$font-Flaticon-007-notebook: "\f106";
$font-Flaticon-008-whistle: "\f107";
$font-Flaticon-009-briefcase: "\f108";
$font-Flaticon-010-paperclip: "\f109";
$font-Flaticon-011-table-lamp: "\f10a";
$font-Flaticon-012-chat: "\f10b";
$font-Flaticon-013-biology: "\f10c";
$font-Flaticon-014-magnet: "\f10d";
$font-Flaticon-015-pc: "\f10e";
$font-Flaticon-016-chalk: "\f10f";
$font-Flaticon-017-eraser: "\f110";
$font-Flaticon-018-microscope: "\f111";
$font-Flaticon-019-online-learning: "\f112";
$font-Flaticon-020-trophy: "\f113";
$font-Flaticon-021-alarm: "\f114";
$font-Flaticon-022-clipboard: "\f115";
$font-Flaticon-023-search: "\f116";
$font-Flaticon-024-schedule: "\f117";
$font-Flaticon-025-compass: "\f118";
$font-Flaticon-026-projector: "\f119";
$font-Flaticon-027-graduation-cap: "\f11a";
$font-Flaticon-028-earth-globe: "\f11b";
$font-Flaticon-029-paint-palette: "\f11c";
$font-Flaticon-030-idea: "\f11d";
$font-Flaticon-031-note: "\f11e";
$font-Flaticon-032-teacher-desk: "\f11f";
$font-Flaticon-033-school-bell: "\f120";
$font-Flaticon-034-printer: "\f121";
$font-Flaticon-035-rank: "\f122";
$font-Flaticon-036-presentation: "\f123";
$font-Flaticon-037-medal: "\f124";
$font-Flaticon-038-student-card: "\f125";
$font-Flaticon-039-pencil: "\f126";
$font-Flaticon-040-school-bus: "\f127";
$font-Flaticon-041-test: "\f128";
$font-Flaticon-042-book: "\f129";
$font-Flaticon-043-calculator: "\f12a";
$font-Flaticon-044-school-bag: "\f12b";
$font-Flaticon-045-certificate: "\f12c";
$font-Flaticon-046-blackboard: "\f12d";
$font-Flaticon-047-ruler: "\f12e";
$font-Flaticon-048-school: "\f12f";
$font-Flaticon-049-american-football: "\f130";
$font-Flaticon-050-physics: "\f131";