@import './navbar.scss';
@import './topbar.scss';
@import './sub-navbar.scss';

.header{
    transition:0.3s ease;
}

.header--fixed{
    z-index: 100;
    position: fixed;
    top: -47px;left:0;
    width: 100%;
    transition:0.3s ease;
}