.topbar{
    background: $main-color;
    font-size: 12px;
    padding:15px 0px;
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color:white;
    }
    &__right{
        display: flex;
        align-items: center;
    }

    &__item{
        margin-right: 20px;
        list-style: none;

        &:last-child{
            margin-right:0px;
        }

        
    }

    &__item-phone{
        @media screen and (max-width:385px){
            display: none;
        }
    }
    &__item--language{
        align-items:center;
        display: flex;

        select{
            background: $main-color;
            border:none;
            color:white;
        }
    }

    &__link{
        color:white;
        text-decoration: none;
    }
}