{% extends 'layouts/app2.html' %}
{% load static %}
  {% load i18n %}
{% block content %}

	<div class="courses ">
		<div class="courses_background"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">{% trans 'Наши специалисности' %}</h2>
				</div>
			</div>
			<div class="row courses_row">
                {% for specialization in specializations %}
				<!-- Course -->
				<div class="col-lg-4 course_col">
					<div class="course">
                        {% if specialization.photo %}
						<div class="course_image"><img src="{{specialization.photo.url}}" alt=""></div>
                        {% endif %}
						<div class="course_body">
							<div class="course_title"><a href="{% url 'specapp:detail' specialization.id  %}">{{specialization.name}}</a></div>
							<div class="course_info">
								<ul>
									<li><a href="">{{specialization.uid}}</a></li>
									<li><a href="#">{% trans 'Шифр' %}</a></li>
								</ul>
							</div>
							<div class="course_text">
								<p>{{specialization.desctiption}}</p>
							</div>
						</div>
						<div class="course_footer d-flex flex-row align-items-center justify-content-start">
							<!-- <div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
							<div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div> -->
							<div class="course_mark course_free trans_200"><a href="{% url 'specapp:detail' specialization.id  %}">{% trans 'Посмотреть' %}</a></div>
						</div>
					</div>
				</div>

                {% endfor %}

			

			</div>
		</div>
	</div>

    {% endblock %}