{% extends 'layouts/new-layout.html' %}
{% load static %}
{% load snp %}
  {% load i18n %}
{% block title %}
   {% trans 'Наши специалисности' %}
{% endblock %}
{% block content %}

<div class="card __container specialization">
    <h2 class="titlex1">Специальности</h2>
    <div class="card__container ">
        {% for item in specializations %}
        <article class="card__item">
            <a href="{{item.get_absolute_url}}" class="card__img">
                <img src="{{item.poster.url}}" alt="">
            </a>
            <h3 class="card__title"><a href="{{item.get_absolute_url}}">{{item.name}}</a> </h3>
            <h3 class="card__code">Шифр: {{item.uid}}</h3>
            <div class="card__footer">
                <date></date>
                <a class="button" href="{{item.get_absolute_url}}">{% trans 'Посмотреть' %}</a>
            </div>
        </article> 
        {% endfor %}
        
    </div>
</div>

    {% endblock %}