{% extends 'layouts/app2.html' %}
{% load static %}
  {% load i18n %}
{% block content %}
{% block title %}
   {{specialization.name}}
{% endblock %}
<div class="course pt-15">
    <div class="course_top"></div>
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Panels -->
            <div class="col-lg-9">
                <div class="tab_panels">

                    <!-- Tabs -->
                    <div class="course_tabs_container">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                                            {{ message }}
                                        </div>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                        <div class="tab active">Описание</div>
                                        <div class="tab">Отзывы</div>
                                        <div class="tab">Преподаватели</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>		
                    </div>

                    <!-- Description -->
                    <div class="tab_panel description active">
                        <div class="panel_title">Об этом курсе</div>
                        <div class="panel_text">
                            <p>{{specialization.desctiption}}</p>
                        </div>
                        
                     

                        <!-- FAQs -->
                        <div class="faqs">
                            <div class="panel_title">{% trans 'Вопросы-ответы' %}</div>
                            <div class="accordions">
                                            
                                <div class="elements_accordions">

                                    {% for faq in specialization.faq.all %}
                                    <div class="accordion_container">
                                        <div class="accordion d-flex flex-row align-items-center"><div>{{faq.question}}</div></div>
                                        <div class="accordion_panel">
                                            <p>{{faq.answer}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    

                                </div>

                            </div>
                        </div>
                    </div>

                 
                    <!-- Reviews -->
                    <div class="tab_panel reviews">
                    
                        <div class="cur_reviews">
                            <!-- Review -->
                            {% if request.user.is_authenticated %}
                            <form action="{% url 'specapp:detail' specialization.id  %}" method="POST">
                                {% csrf_token %}
                                <div>
                                    {{form}}
                                </div>
                                <button class="btn btn-primary mt-1 mb-1 mx-auto d-block">Отправить</button>
                            </form>
                            {% else %}

                            <div class="">
                                <a href="{% url 'sapp:login' %}">{% trans 'Авторизуитесь чтобы оставить отзыв' %}</a>
                            </div>

                            {% endif %}
                          
                            {% for comment in comments %}
                            <div class="review">
                                <div class="review_title_container d-flex flex-row align-items-start justify-content-start">
                                    <div class="review_title d-flex flex-row align-items-center justify-content-center">
                                        <div class="review_author_image"><div><img src="{{comment.author.username}}" alt=""></div></div>
                                        <div class="review_author">
                                            <div class="review_author_name"><a href="#">{{comment.author.username}}</a></div>
                                            <div class="review_date">{{comment.created_at}}</div>
                                        </div>
                                    </div>
                                    <div class="review_stars ml-auto"><div class="rating_r rating_r_4 review_rating"><i></i><i></i><i></i><i></i><i></i></div></div>
                                </div>
                                <div class="review_text">
                                    <p>{{comment.text}}</p>
                                </div>
                            </div>
                            {% endfor %}

                         

                        </div>
                    </div>

                    <!-- Members -->
                    <div class="tab_panel members">
                        <div class="panel_title">{% trans 'Преподаватели' %}</div>
                        <div class="panel_text">
                            <p>{% trans 'В нашем колледже проподают самые лучшие преподаватели' %}</p>
                        </div>
                        <div class="members_list d-flex flex-row flex-wrap align-items-start justify-content-start">
                            
                            {% for employee in specialization.employees.all %}
                            <!-- Member -->
    
                            <div class="member">
                                <div class="member_image"><img src="{{employee.photo.url}}" alt=""></div>
                                <div class="member_title"><a href="{% url 'empapp:detailView' employee.id %}">{{employee.name}}</a></div>
                            </div>

                            {% endfor %}

                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>
                    <div class="sidebar_top"><a href="#">{% trans 'Отправить заявку' %}</a></div>
                    <div class="sidebar_content">

                        <!-- Features -->
                        <div class="sidebar_section features">
                            <div class="sidebar_title">{% trans 'Подробнее' %}</div>
                            <div class="features_content">
                                <ul class="features_list">

                                    <!-- Feature -->
                                    <li class="d-flex flex-row align-items-start justify-content-start">
                                        <div class="feature_title"><i class="fab fa-clock-o" aria-hidden="true"></i><span>{% trans 'Продолжительность' %}</span></div>
                                        <div class="feature_text ml-auto">{{specialization.duration}}</div>
                                    </li>

                                   
                                </ul>
                            </div>
                        </div>

                        <!-- Cert -->
                        <div class="sidebar_section cert">
                            <div class="sidebar_title">{% trans 'Сертификат' %}</div>
                            {% if specialization.sertification %}
                            <div class="cert_image"><img src="{{specialization.sertification.url}}" alt=""></div>
                            {% endif %}
                        </div>

                      
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}